
@{
    ViewBag.Title = "Index";
}
<h2 style="float:left">Index</h2>
<a href="/AR/FileTest?dl=1">
    <img src="/AR/FileTest" style="width:100%;"/>
</a>
<div style="position:absolute; top:300px;background-color:white; width:600px; height:200px; border:solid 1px ; border-color:#808080 ;border-top:solid 10px; border-top-color:yellow;">
    <h1>課程實作進度回報</h1>
    <p>我們已經收到您回覆的表單。</p>
    <p>提交其他回應</p>
</div>


